
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<h1>Login</h1>

<form  method="post">
    <input type="email" name="email" value="" placeholder="Login"/>
    <input type="password" name="password" value="" placeholder="password"/>
    <button type="submit">Submit</button>
</form>