@{
    ViewData["Title"] = "Home Page";
}

        <!-- Topnav -->
        <!-- Header -->
        <!-- Header -->
        <!-- Page content -->
        <div class="container-fluid mt-6">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">@ViewData["userName"]</label>
                        <label for="inputEmail4">First Team name</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Second Team name</label>
                        <input type="text" class="form-control" id="inputPassword4" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Match Time</label>
                        <input type="time" class="form-control" id="inputEmail4" placeholder="Name">
                        <input type="file" class="form-control mt-4" name="Team Logo" id="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Date</label>
                        <input type="date" class="form-control" id="inputPassword4" placeholder="Name">
                        <input type="file" class="form-control mt-4" name="Team Logo" id="">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Yuklash</button>
            </form>
            <!-- Dark table -->
            <table class="table mt-6">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Team 1</th>
                        <th scope="col">Time</th>
                        <th scope="col">Team 2</th>
                        <th scope="col">Day</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><img src="~/assets/img/futbol.jpg" style="border-radius: 50%;" width="50px " height="50px"></td>
                        <td>15:00</td>
                        <td><img src="~/assets/img/futbol.jpg" style="border-radius: 50%;" width="50px " height="50px"></td>
                        <td>12.02.22</td>
                        <td>
                            <div class="btn-group">
                                <a href="#" class="btn btn-primary"><i class="fa fa-eye"></i>Edit</a>
                                <a href="#" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">1</th>
                        <td><img src="~/assets/img/futbol.jpg" style="border-radius: 50%;" width="50px " height="50px"></td>
                        <td>15:00</td>
                        <td><img src="~/assets/img/futbol.jpg" style="border-radius: 50%;" width="50px " height="50px"></td>
                        <td>12.02.22</td>
                        <td>
                            <div class="btn-group">
                                <a href="#" class="btn btn-primary"><i class="fa fa-eye"></i>Edit</a>
                                <a href="#" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">1</th>
                        <td><img src="~/assets/img/futbol.jpg" style="border-radius: 50%;" width="50px " height="50px"></td>
                        <td>15:00</td>
                        <td><img src="~/assets/img/futbol.jpg" style="border-radius: 50%;" width="50px " height="50px"></td>
                        <td>12.02.22</td>
                        <td><button class="btn btn-success">Edit</button><button class="btn btn-danger">Remove</button></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td><img src="~/assets/img/futbol.jpg" style="border-radius: 50%;" width="50px " height="50px"></td>
                        <td>15:00</td>
                        <td><img src="~/assets/img/futbol.jpg" style="border-radius: 50%;" width="50px " height="50px"></td>
                        <td>12.02.22</td>
                        <td><button class="btn btn-success">Edit</button><button class="btn btn-danger">Remove</button></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td><img src="~/assets/img/futbol.jpg" style="border-radius: 50%;" width="50px " height="50px"></td>
                        <td>15:00</td>
                        <td><img src="~/assets/img/futbol.jpg" style="border-radius: 50%;" width="50px " height="50px"></td>
                        <td>12.02.22</td>
                        <td><button class="btn btn-success">Edit</button><button class="btn btn-danger">Remove</button></td>
                    </tr>

                </tbody>
            </table>
            <!-- Footer -->

        </div>